<!-- navigation bar -->
                <!-- <div class="row">
                    <div class="col-lg-4 text-center">
                        <button type="button" class="btn btn-lg btn-primary btn-primary-width">
                            Articles
                        </button>
                    </div>

                    <div class="col-lg-4 text-center">
                        <button type="button" class="btn btn-lg btn-primary btn-primary-width">
                            Events
                        </button>
                    </div>

                    <div class="col-lg-4 text-center">
                        <button type="button" class="btn btn-lg btn-primary btn-primary-width">
                            Myself
                        </button>
                    </div>
                </div> -->
                <!-- /.row -->
                <!-- navigation bar END -->

                <!-- timeline -->
                <br>
                <div class="row">
                    <div class="alert alert-success alert-top">
                        <strong>Well done!</strong> You successfully update article.
                    </div>
                    <div class="col-lg-6 text-left">
                        <input type="radio" name="optionsRadios" id="radio1" class="type" checked>
                        <label for="radio1" class="css-label radGroup2">Article</label>
                    </div>

                    <div class="col-lg-6 text-center">
                        <input type="radio" name="optionsRadios" id="radio2" class="type">
                        <label for="radio2" class="css-label radGroup2">My experience</label>
                    </div>

                    <div class="col-lg-6 text-left">
                        <br><br>
                        <div class="form-group">
                            <label>Header article</label>
                            <input class="form-control" placeholder="Header article">
                        </div> 
                        <br>
                        <div class="form-group">
                            <label>Upload cover photo</label>
                            <input type="file">
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="button" class="btn btn-lg btn-primary">Update article</button>
                        </div>
                    </div>    
                </div>
                <!-- /.row -->
