
                <!-- navigation bar -->
                <div class="row">
                    <div class="col-lg-4 text-center">
                        <button type="button" class="btn btn-lg btn-primary btn-primary-width">
                            Articles
                        </button>
                    </div>

                    <div class="col-lg-4 text-center">
                        <button type="button" class="btn btn-lg btn-primary btn-primary-width">
                            Events
                        </button>
                    </div>

                    <div class="col-lg-4 text-center">
                        <button type="button" class="btn btn-lg btn-primary btn-primary-width">
                            Myself
                        </button>
                    </div>
                </div>
                <!-- /.row -->
                <!-- navigation bar END -->

                <br>
                <!-- timeline -->
                <div class="row">
                    <div class="col-lg-4 text-left">
                        <div class="panel">
                            <img class="img-thumbnail" src="http://placehold.it/400x400" alt="">
                        </div>
                    </div>

                    <div class="col-lg-8 text-center">
                        <div class="panel panel-height">
                            <div class="article-style">
                                <div class="panel-body panel-body-text-left">
                                    <div class="page-header page-header-article">
                                        <h2 class="article-head">Header article</h2>
                                    </div>
                                    <div class="article">
                                        Lollipop bear claw sweet sweet roll pastry. Cotton candy biscuit jelly beans jelly-o gummi bears pastry. Tootsie roll oat cake pudding sweet roll pudding wafer bonbon cotton candy. Chupa chups brownie gummi bears halvah liquorice biscuit. Muffin oat cake liquorice tart bonbon carrot cake. Marshmallow chupa chups icing carrot cake danish. Bear claw marshmallow caramels jelly beans cake toffee donut sesame snaps bear claw. Donut pudding sugar plum cupcake croissant dragée gingerbread candy canes. Gummies tootsie roll chupa chups. Donut jelly sweet halvah croissant dragée bonbon chocolate powder. Caramels liquorice toffee. Cake gummi bears bear claw sweet roll gummies candy soufflé pastry bonbon. Croissant wafer jelly beans caramels.
                                        Sesame snaps dessert danish oat cake wafer macaroon icing powder soufflé. Gummi bears tootsie roll donut sugar plum fruitcake macaroon. Tootsie roll chocolate bar wafer wafer dragée. Powder liquorice sweet chocolate cake icing. Apple pie jelly jelly beans pudding. Toffee carrot cake sweet roll liquorice gummi bears carrot cake tiramisu. Wafer tart dragée topping dragée wafer tiramisu jelly. Macaroon muffin chocolate bar liquorice pudding jelly ice cream biscuit. Pudding powder cotton candy jelly beans sugar plum topping sugar plum liquorice. Dragée lollipop donut tootsie roll dessert icing jelly-o icing candy canes. Cupcake marshmallow lemon drops cake muffin donut dessert wafer. Soufflé ice cream soufflé jujubes tootsie roll icing bonbon cheesecake.
                                    </div>
                                </div>
                                <a href="" class="btn btn-primary btn-lg btn-primary-left" role="button">Read more &raquo;</a>
                                <div class="date-presnet">
                                	2015-04-16
                                </div>
                                <div class="like">
                                    <i class="fa fa-fw fa-hand-o-right"></i>Like 100 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

